h1 {
  font-size: 50px;
  color: green;
  text-align: center;
  margin-bottom: 30px;
}
.card span {
  font-size: 50px;
}
.card h2 {
  font-size: 20px;
  margin: 16px 0;
  height: 50px;
  overflow: hidden;
}
.card p {
  height: 100px;
  overflow: hidden;
}
.card {
  text-align: center;
}
